body{background-color: white !important; overflow-y: none;}
/* For Firefox */
input[type='number'] { -moz-appearance:textfield;}
/* Webkit browsers like Safari and Chrome */
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button { display: none;-webkit-appearance: none; margin: 0;}
.vid {max-width: 70%;max-height: 100%;}
.receipttbl{width: 100%;}
.receiptbox{ width: 330px;margin:20px 0px;}
.receipthead{font-size: 22px;font-family: "Lucida Console", Monaco, monospace;margin: 0px;}
.receiptcontent{font-size: 14px;font-family: "Lucida Console", Monaco, monospace;margin: 0px;}
.info{font-size: 13px;font-family: "Lucida Console", Monaco, monospace;margin: 0px;}
.receiptdivide{border-width: 1px;border-top-style:solid;}
.receiptamt{font-size: 20px;font-family: "Lucida Console", Monaco, monospace;margin-top: 10px;text-transform: uppercase;
font-weight: bold;}
.itemRow{margin: 5px !important;padding: 5px !important;}
.rght{ float:right;}
.lft{ float: left;}
.trline { line-height: 150%; }