
body{background-color: white !important;max-width: 100%;}
/* For Firefox */
input[type='number'] { -moz-appearance:textfield;}
/* Webkit browsers like Safari and Chrome */
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button { display: none;-webkit-appearance: none; margin: 0;}
#topMenu{ background-color: #65737e }
#topItem{ color: white; font-family: 'RBlack', Fallback, sans-serif; font-size: 20px;}
#rightTopItem{color: white; font-family: 'SLight', Fallback, sans-serif; font-size: 20px;}
.itemLabels{font-family: 'SRegular' !important , Fallback, sans-serif;}
.headerName{font-family: 'RRegular' , Fallback, sans-serif;}
.subHeaderName{font-family: 'RLight' , Fallback, sans-serif;}
.scannerlabel{font-family: 'SLight', Fallback, sans-serif;}
.rght{ float:right;}
.lft{ float: left;}
.mid{text-align: center;}
.ltext{text-align: left;}
.receipttbl{width: 100%;}
.noOfItems{font-size: 20px;}
/*.orderOptions{position: fixed;bottom: 0;right: 0;}*/
.lbtn{ width: 100px; margin:50px 110px 0px 0px; height: 55px; background-color: #3886c9;border: 1px solid #3886c9;
    color: white;font-size: 20px;}
.rbtn{ width: 100px; margin:50px; height: 55px;background-color: #336699;border: 1px solid #336699;}
.rbtnlabel{color: white;font-size: 14px;padding:9px 12px; margin: 0px;}
.lbtnlabel{color: white; font-size: 15px; padding:15px; margin: 0px;}
.rtn:hover, .lbtn:hover{background-color:#44749D;border: 1px solid #44749D;}
.pbtn{ border: 1px solid gray; background-color:gray; color: white}
.pbtn:hover,.pbtn:focus {border: 1px solid #B0B0B0;background-color:#B0B0B0;outline:0;}
.receiptbox{ height: 600px;width: 280px;margin:0px 30px;}
.receipthead{font-size: 20px;font-family: "Courier New", Courier, monospace;margin: 0px;}
.receiptcontent{font-size: 12px;font-family: "Lucida Console", Monaco, monospace;margin: 0px;}
.info{font-size: 11px;font-family: "Lucida Console", Monaco, monospace;}
.receiptdivide{border-width: 1px;border-top-style:solid;}
.receiptamt{font-size: 18px;font-family: "Lucida Console", Monaco, monospace; margin-top : 10px; text-transform: uppercase;
font-weight: bold;}
.itemRow{margin: 5px !important;padding: 5px !important;}
.ibtn{border: none; background:none;}
.error {color:gray; font-size:20px;text-align: center;font-family: 'SLight', Fallback, sans-serif; }
.sign {color: white}

/*.ui.modal{position: absolute; visibility: hidden; max-width: 40%; max-height: 40%; overflow: auto;}
.close{ border: none; background: none; right: 25px; color: #000; font-size: 25px;font-weight: bold;}
.close:hover{color: red; cursor: pointer;}
.close:focus{ outline:0;box-shadow:none;border:0px;-moz-border-radius:2px; border-radius: 2px;}*/



