/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
     display: none;
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body{
    background-color: white !important;
    max-width: 100%;
    overflow-x: hidden;
}
.smlogo{
    height: 80px;
    width: 110px;
    margin-top : 40px;
}
.pos{
    font-size: 50px;
    color: white;
    font-weight: bold;
}
.col{
    max-width: 350px;
    margin-top:150px;
}
.login{
    background-color: #6e7f80;
}
.login > .grid{
    height: 100vh;
}
.loginbox{
    margin-top: 25px;
}

.head{
    background-color: #65737e !important;
    height: 60px;
}
.logout{
    padding: 10px 15px;
    color: white;
}
.headlogo{
    height: 40px;
    width: 50px;
    margin: 10px 20px;
}
.username{
    color: white;
    text-transform: uppercase;
    margin: 20px;
}
.headname{
    color: white;
    text-transform: uppercase;
    margin: 10px;
}
.rght{
    float:right;
}
.lft{
    float: left;
}
.r1{
    margin-top:100px;
}
.qr{
    margin-left: 280px;
}
.manual{
    margin-right: 280px;
}
.order{
   margin: 60px !important;
 }
.option{
    height: 185px;
    width: 185px;
}
.vdivide{
    border-left: 2px solid #303030;;
    height: 110vh;
    position: absolute;
    left: 55%;
    top: 60px;
}
.image{
    margin:25px 35px 0px 25px;
    height: 70px;
    width: 70px;
}
.ordertbl{
    width: 620px;
    margin-bottom: 200px;
}
.rf{
    float: right;
    margin-right: 100px;
}

.divider{
    margin-left: 210px;
    width: 380px;
}
.eicon{
    float: right;
    margin-right: 50px;
    height: 150px;
    width: 50px;
}
.lbtn{
    width: 100px;
    padding: 10px 0px;
    float: right;
    margin:30px 10px 0px 0px;
    height: 50px;
    background-color: #78D5E3 !important;
    border: 1px solid #78D5E3;
    color: white;
    font-size: 17px;
}
.btn{
    width: 100px;
    padding: 8px 0px;
    float: right;
    margin:30px 30px 30px 0px;
    height: 50px;
    background-color: #3886c9;
    border: 1px solid #3886c9;
    color: white;
    font-size: 17px;
}
.btn:hover, .lbtn:hover{
    background-color:#44749D;
    border: 1px solid #44749D;
}
.btn:hover, .lbtn:hover{
    background-color:#44749D;
    border: 1px solid #44749D;
}
.subBtn{
    float: right;
    margin: 50px;
}
.sub{ 
    margin: 5px;
    margin-left: 220px;
}










.hbox{
    background-color: #C6D4E1;
    text-align: center;
    padding: 5px;
    margin-right: 25px;
}
.vdivide{
    border-left: 2px solid #303030;;
    height: 110vh;
    position: absolute;
    left: 55%;
    top: 60px;
}

.kbtn{
    width: 150px;
    height: 40px;
    background-color: white;
    border: 1px solid gray;
    margin: 0px;
}

.mid{
    text-align: center;
}
.change{
    color: green;
}
.value{
    margin-left: 15px;
}
.total{
    margin-left: 50px;
}
.pbox{
    margin-bottom: 10px;
}

.cbtn{
    margin-top: 50px;
}

.bbtn{
    width: 100px;
    padding: 8px 0px;
    margin:30px 10px 0px 10px;
    height: 55px;
    background-color: #78D5E3;
    border: 1px solid #78D5E3;
    color: white;
    font-size: 20px;
}

.sbtn{
    width: 100px;
    padding: 8px 0px;
    float: right;
    margin:30px 10px 0px 0px;
    height: 55px;
    background-color: #3886c9;
    border: 1px solid #3886c9;
    color: white;
    font-size: 20px;
}
.sbtn:hover, .bbtn:hover{
    background-color:#44749D;
    border: 1px solid #44749D;
}

.menubox{
    padding: 20px 45px;
}

.menuimg{
    margin:5px 3px;
    height: 70px;
    width: 70px;
}







