@font-face{
	font-family: 'RBlack';
	src: url(../fonts/Roboto-Black.ttf) format('truetype');
}

@font-face{
	font-family: 'RLight';
	src: url(../fonts/Roboto-Light.ttf) format('truetype');
}

@font-face{
	font-family: 'RRegular';
	src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face{
	font-family: 'SRegular';
	src: url(../fonts/Sansation_Regular.ttf) format('truetype');
}

@font-face{
	font-family: 'SLight';
	src: url(../fonts/Sansation_Light.ttf) format('truetype');
}